@import "tailwindcss";

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    background-color: var(--bg-secondary);
    overflow: hidden;
    line-height: relaxed;
  }
  .page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .h1 {
    font-size: 35px;
    line-height: tight;
    margin-bottom: 8px;
    font-weight: 600;
  }
  .h2 {
    font-size: 35px;
    line-height: tight;
    margin-bottom: 4px;
    font-weight: 600;
  }
  p {
    line-height: 1.8;
    color: #ffffff60;
    font-weight: 300;
  }
  .btn,
  .input {
    height: 52px;
  }
  .input {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    padding-left: 6px;
    text-transform: capitalize;
  }
  .input,
  .textarea {
    background-color: transparent;
    outline: none;
    border: 1px solid #ffffff20;
    padding: 6px;
    border-radius: 10px;
    resize: none;
  }
  .textarea {
    width: 100%;
    height: 180px;
    padding: 6px;
    border-radius: 10px;
    text-transform: capitalize;
  }
  .card {
    background-color: var(--bg-secondary);
    color: #ffffff60;
    padding: 6px;
    border-radius: 10px;
  }
}
